__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

.pytest_cache/
.coverage
htmlcov/
.tox/

.DS_Store
.vscode/
.idea/
*.swp
*.swo


.env
.venv
venv/
conda-env/


reports/*
logs/*
!reports/.gitkeep
!logs/.gitkeep

results/
results_*/
results_agent/
results_agent_smoke/
results_variant_agent/
results_variant_agent_smoke/
results_api/


*.bam
*.bai
*.cram
*.crai
*.fastq
*.fastq.gz
*.fq
*.fq.gz
# Allow tiny synthetic FASTQ stubs committed for testing and samplesheet demos
!examples/*.fastq
*.vcf.gz
*.vcf.gz.tbi
*.h5ad
*.h5
*.mtx
*.mtx.gz


references/*.fa
references/*.fasta
references/*.fa.fai
references/*.dict
references/*.gtf
references/*.gtf.gz
references/*.gff
references/*.gff.gz
references/*.bed
references/*.bed.gz
references/*.vcf
references/*.vcf.gz
references/*.vcf.gz.tbi

.nextflow/
.nextflow.log*
work/
